# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Platformio
/.pio/build/
/.pio/libdeps/
.vscode/c_cpp_properties.json
.vscode/launch.json
/docs/doxygen-out
/demos/ActuatorDemo_v*.zip
compile_commands.json
logs/device-monitor-260327-003900.log
demos/NacelleDemo_v1.1.0.zip
demos/NacelleDemo_v1.2.0.zip
demos/NacelleDemo_v1.4.1.zip
demos/NacelleDemo_v1.5.0.zip
